@font-face {
  font-family: MontserratBold;
  src: url(./fonts/Montserrat-Bold.ttf);
}
@font-face {
  font-family: MontserratRegular;
  src: url(./fonts/Montserrat-Regular.ttf);
}
@font-face {
  font-family: OpenSans;
  src: url(./fonts/OpenSans-Regular.ttf);
}

body {
  margin: 0;
  padding: 0px;
}

@media screen and (min-width: 1000px) and (max-width: 1980px) {
  header {
    min-width: 1000px;
    max-width: 1980px;
    height: 10.07vw;
    background-color: black;
  }
  .logo {
    margin-left: 2.08vw;
    margin-top: 2.08vw;
  }
  .boxcontacti {
    float: left;
  }
  .positioncontacti {
    float: left;
    margin-right: 1.04vw;
    display: flex;
    align-items: center;
    margin-top: 0.47vw;
  }
  .positionlogin {
    float: left;
  }
  .positiontel-mail {
    margin-left: 1vw;
  }
  .tel-mail {
    text-decoration: none;
    font-style: normal;
    font-family: MontserratRegular;
    font-size: 1.4vw;
    color: white;
  }
  address {
    float: right;
    margin-top: 2.86vw;
    margin-right: 4vw;
  }
  .loginbutton {
    background: #fff;
    border: none;
    height: 3.14vw;
    width: 8.21vw;
    text-align: center;
    border-radius: 2.04vw;
  }
  .loginname {
    text-transform: uppercase;
    color: #135ec5;
    font-family: MontserratBold;
    font-size: 1.1vw;
  }
  .baner {
    height: 38vw;
    background-color: black;
    position: relative;
  }
  .banerposition {
    width: 45%;
    margin-left: 24vw;
    position: absolute;
    padding-top: 9vw;
    z-index: 1;
  }
  .imgbaner {
    width: 100%;
  }
  .tochkiposition {
    padding-top: 20vw;
  }
  .tochka1 {
    border-radius: 100%;
    background-color: white;
    width: 0.95vw;
    height: 0.9vw;
    margin-left: 95vw;
  }
  .tochka2 {
    border-radius: 100%;
    background-color: #135ec5;
    width: 0.95vw;
    height: 0.9vw;
    margin-top: 0.5vw;
    margin-left: 95vw;
  }
  .tochka3 {
    border-radius: 100%;
    background-color: white;
    width: 0.95vw;
    height: 0.9vw;
    margin-top: 0.5vw;
    margin-left: 95vw;
  }
  .banertext {
    color: #131210;
    font-family: MontserratBold;
    text-transform: uppercase;
    font-size: 10vw;
    position: absolute;
    margin-top: 3vw;
    margin-left: 25vw;
  }
  .banertext2 {
    color: #131210;
    font-family: MontserratBold;
    text-transform: uppercase;
    font-size: 10vw;
    position: absolute;
    margin-top: 12vw;
    margin-left: 10vw;
  }
  .banertext3 {
    color: #131210;
    font-family: MontserratBold;
    text-transform: uppercase;
    font-size: 10vw;
    position: absolute;
    margin-top: 12vw;
    margin-left: 67vw;
  }
  .modelbox {
    height: 14.42vw;
    background-color: black;
  }
  .h-modelbox {
    text-align: center;
    font-family: MontserratBold;
    font-size: 1.5vw;
    color: white;
  }
  input {
    border: 0px;
  }
  .input-width {
    width: 17.5vw;
    background-color: black;
    float: left;
  }
  input {
    outline: 0 !important;
  }
  .input1 {
    margin-left: 4.15vw;
    font-family: MontserratBold;
    font-size: 1.56vw;
    color: #3c3c3c;
    border-bottom: 1.5px solid #3c3c3c;
  }
  .input-menu {
    margin-left: 3vw;
    padding-top: 2.5vw;
  }
  .searchbutton {
    margin-left: 10vw;
    background: #135ec5;
    border: none;
    height: 3.08vw;
    width: 9.33vw;
    text-align: center;
    border-radius: 2.04vw;
    float: left;
  }
  .searchinname {
    text-transform: uppercase;
    color: white;
    font-family: MontserratBold;
    font-size: 0.83vw;
  }
  button[class^="loginbutton"]:hover {
    background: #135ec5;
    color: #fff;
  }
  button[class^="searchbutton"]:hover {
    background: white;
    color: #135ec5;
  }
  nav {
    height: 12.5vw;
    background-color: white;
    border-bottom: 1.5px solid #ebebeb;
  }
  .textnav {
    font-family: MontserratRegular;
    font-size: 1vw;
    color: #c1c1c1;
    font-weight: bold;
    text-align: center;
    padding-top: 1.5vw;
  }
  .imglogocar {
    width: 100%;
  }
  .mazda {
    float: left;
    width: 8%;
  }
  .hyinday {
    float: left;
    margin-left: 5vw;
    width: 11%;
    margin-top: 0.7vw;
  }
  .BMW {
    float: left;
    margin-left: 5vw;
    width: 8%;
  }
  .volvo {
    float: left;
    margin-left: 5vw;
    width: 8%;
  }
  .chevrolet {
    float: left;
    margin-top: 0.7vw;
    margin-left: 5vw;
    width: 11%;
    margin-top: 1.5vw;
  }
  .mercedes {
    float: left;
    margin-left: 5vw;
    width: 7%;
  }
  .honda {
    float: left;
    margin-left: 5vw;
    width: 8%;
    margin-top: 0.3vw;
  }
  .divlogo {
    margin-left: 7%;
    margin-top: 2vw;
  }
  .baner2 {
    height: 23vw;
    background-color: #FFFFFF;
    padding-top: 6vw;
  }
  .imgbaner2 {
    float: left;
    width: 49vw;
  }
  .imgbaner2car {
    margin-left: 10vw;
    width: 30%;
    position: absolute;
  }
  .textbaner2 {
    float: left;
    width: 40vw;
  }
  .bmwseries {
    font-family: MontserratBold;
    font-size: 3.13vw;
    color: #135ec5;
    padding-left: 5vw;
  }
  .textfonbaner2 {
    font-family: MontserratBold;
    font-size: 7.13vw;
    color: white;
    margin-left: 3vw;
    text-shadow: 1px 1px 2px black;
  }
  .textfonbaner2-1 {
    font-family: MontserratBold;
    font-size: 7.13vw;
    color: white;
    margin-left: 24vw;
    text-shadow: 1px 1px 2px black;
  }
  .textbaner2-1 {
    font-family: OpenSans;
    color: #c1c1c1;
    font-size: 0.83vw;
    margin-top: 1.3vw;
    padding-left: 5vw;
  }
  .textbaner2-2 {
    font-family: OpenSans;
    color: #c1c1c1;
    font-size: 0.83vw;
    margin-top: 1vw;
    padding-left: 5vw;
  }
  .buttonbmw {
    margin-top: 1.5vw;
    background: #135ec5;
    border: none;
    height: 3.08vw;
    width: 11.33vw;
    text-align: center;
    border-radius: 2.04vw;
    font-family: MontserratBold;
    color: white;
    font-size: 0.83vw;
    text-transform: uppercase;
  }
  .buttonpadding {
    padding-left: 5vw;
  }
  button[class^="buttonbmw"]:hover {
    background: white;
    color: #135ec5;
  }
  .bluebox{
    background-color:#135ec5;
    height: 28.33vw;
  }
  .whiteboxaftercar {
    background-color: #f7f7f7;
    height: 6vw;
  }
  .whitebox {
    background-color: #f7f7f7;
    height: 106.77vw;
  }
  .blueboxcarimg {
    width: 35%;
    margin-left: 30vw;
  }
  .blueboxcar {
    padding-top: 4vw;
  }
  .blueboxtext {
    font-family: MontserratBold;
    font-size: 3.13vw;
    color: white;
    text-align: center;
    padding-top: 7vw;
  }
  .addbutton {
    background: #135ec5;
    height: 3.14vw;
    width: 11.21vw;
    text-align: center;
    border-radius: 2.04vw;
    border-color: white;
    margin-left: 43vw;
    margin-top: 2vw;
    border-width: 0.25vw;
    border-style: solid;
  }
  .addname {
    text-transform: uppercase;
    color: white;
    font-family: MontserratBold;
    font-size: 1vw;
  }
  .boxmersedes1 {
    height: 30vw;
    width: 24.22vw;
    margin-left: 9vw;
    padding-top: 5vw;
    position: relative;
    float: left;
  }
  .boxmersedes1blue {
    height: 12vw;
    background-color: #135DC2;
    position: relative;
  }
  .boxmersedes1white {
    height: 17vw;
    background-color: white;
  }
  .boxmersedes1bluetext {
    text-transform: uppercase;
    font-family: MontserratBold;
    font-size: 8vw;
    color: #1d63c3;
    text-align: center;
    padding-top: 1.2vw;
    
  }
  .freshbutton {
    background: white;
    border: none;
    height: 2.08vw;
    width: 6.33vw;
    text-align: center;
    border-radius: 2.04vw;
    font-family: MontserratBold;
    color: #1d63c3;
    font-size: 1vw;
    text-transform: uppercase;
    margin-left: 16vw;
    margin-top: 1.7vw;
    position: absolute;
  }
  .boxmersedes1img {
    width: 70%;
    position: absolute;
    z-index: 1;
    padding-top: 7vw;
    margin-left: 3vw;
  }
  .boxmersedes1imgdiv {
    width: 100%;
  }
  .boxmersedes1text1 {
    font-family: MontserratBold;
    font-size: 1.84vw;
    padding-top: 5vw;
    text-align: center;
  }
  .boxmersedes1text2 {
    font-family: MontserratBold;
    color: #135EC5;
    font-size: 0.84vw;
    padding-top: 0.5vw;
    text-align: center;
  }
  .boxmersedes1text3 {
    font-family: MontserratRegular;
    font-weight: bold;
    color:  #C1C1C1;
    font-size: 0.84vw;
    padding-top: 1.5vw;
    text-align: center;
  }
  .moreinfobutton {
    background: #E2E2E2;
    border: none;
    height: 2.5vw;
    width: 8.33vw;
    text-align: center;
    border-radius: 2.04vw;
    font-family: MontserratBold;
    color: white;
    font-size: 1vw;
    text-transform: uppercase;
    position: absolute;
  }
  .moreinfobuttondiv {
    margin-left: 3vw;
    margin-top: 1.4vw;
  }
  .moreinfobuttondiv::before {
    content: "15.000$"; 
    font-family: MontserratBold;
    font-size: 1.6vw;
    color: #16AD2C;
    margin-right: 4vw;
}
.boxmersedes2 {
  height: 35vw;
  width: 50vw;
  float: left;
  margin-top: 2vw;
  margin-left: 7vw;
  position: relative;
  overflow: hidden;
}
.boxmersedes2white {
  background-color: white;
  width: 27vw;
  height: 35vw;
  float: left;

}
.boxmersedes2blue {
  background-color: #135EC4;
  width: 23vw;
  height: 35vw;
  float: left;
}
.boxmersedes2text1 {
  font-family: MontserratBold;
  color: #E2E2E2;
  font-size: 0.84vw;
  padding-top: 4vw;
  margin-left: 3vw;
}
.boxmersedes2text1::after {
  content: "15.000$"; 
  font-family: MontserratBold;
  font-size: 1.6vw;
  color: #16AD2C;
  margin-left: 9vw;
}
.boxmersedes2text2 {
    font-family: MontserratBold;
    color: #135EC5;
    font-size: 1.84vw;
    padding-top: 7vw;
    margin-left: 3vw;
}
.boxmersedes2text3 {
  width: 21.56vw;
  font-family: OpenSans;
  color: #C1C1C1;
  font-size: 0.83vw;
  line-height: 1.8vw;
  margin-left: 3vw;
  word-spacing: 0.6vw;
  margin-top: 1.5vw;
}
.orderbutton {
  margin-top: 1.5vw;
  background: #135ec5;
  border: none;
  height: 3.08vw;
  width: 11.33vw;
  text-align: center;
  border-radius: 2.04vw;
  font-family: MontserratBold;
  color: white;
  font-size: 0.95vw;
  text-transform: uppercase;
  margin-left: 3vw;
  margin-top: 3vw;
}
.freshbutton2 {
  background: white;
  border: none;
  height: 2.08vw;
  width: 6.33vw;
  text-align: center;
  border-radius: 2.04vw;
  font-family: MontserratBold;
  color: #1d63c3;
  font-size: 1vw;
  text-transform: uppercase;
  margin-left: 14.5vw;
  margin-top: 3.7vw;
  position: absolute;
}
.boxmersedes2divimg {
  width: 100%;
  position: absolute;
}
.boxmersedes2img {
  width: 60%;
  margin-top: 10vw;
  margin-left: 24vw;
}
.bottomboxnav {
  width: 76.3vw;
  background-color: rgb(53, 85, 17);
  padding-top: -20vw;
  position: absolute;
  margin-top: 43vw;
  margin-left: 12vw;
}
.bottomboxnavwhite {
  background-color: white;
}
.bottomboxnavblue {
  background-color: #135EC5;
  padding-top: 4vw;
  padding-left: 4vw;
  padding-right: 4vw;
  padding-bottom: 4vw;
}
.input2 {
  margin-left: 3.15vw;
  font-family: MontserratBold;
  font-size: 1.1vw;
  color: #E1E1E1;
  border-bottom: 1.5px solid #EBEBEB;
}
.input2-width {
  width: 14.5vw;
  float: left;
  margin-top: 4vw;
  height: 3vw;
}
.input3 {
  margin-left: 3.15vw;
  font-family: MontserratBold;
  font-size: 1.1vw;
  color: #E1E1E1;
  border-bottom: 1.5px solid #EBEBEB;
  background-image: url(./image/gps.png);   
  background-repeat: no-repeat; /*Убираем повтор изображения*/   
  background-position: 16vw; /*Позиционируем*/   
}
.input3-width {
  width: 14.5vw;
  float: left;
  margin-top: 4vw;
  height: 3vw;
}
.input3::-webkit-input-placeholder {
  color: black;
}
.input-menu2 {
  border-bottom: 1.5px solid #F5F5F5;
  height: 12vw;
}
.divlogobottom {
  height: 8vw;
}
.divlogocarbottom{
  width: 100%;
}
.mazda2 {
  float: left;
  width: 8%;
  margin-left: 5vw;
  margin-top: 1.2vw;
}
.hyinday2 {
  float: left;
  margin-left: 3vw;
  width: 11%;
  margin-top: 1.9vw;
}
.BMW2 {
  float: left;
  margin-left: 3vw;
  width: 8%;
  margin-top: 1.2vw;
}
.volvo2 {
  float: left;
  margin-left: 3vw;
  width: 8%;
  margin-top: 1.2vw;
}
.chevrolet2 {
  float: left;
  margin-top: 0.7vw;
  margin-left: 3vw;
  width: 11%;
  margin-top: 2.7vw;
}
.mercedes2 {
  float: left;
  margin-left: 3vw;
  width: 7%;
  margin-top: 1.2vw;
}
.honda2 {
  float: left;
  margin-left: 3vw;
  width: 8%;
  margin-top: 1.5vw;
}
.imglogocarbottom {
  width: 100%;
}
.input-menu3 {
  height: 9vw;
}
.hidebutton {
  margin-top: 1.8vw;
  background: #135ec5;
  border: none;
  height: 2.08vw;
  width: 15.33vw;
  text-align: center;
  font-family: MontserratBold;
  color: white;
  font-size: 0.95vw;
  margin-left: 30vw;
  border-top-left-radius: 1.2vw;
  border-top-right-radius: 1.2vw;
}
.input4 {
  font-family: MontserratBold;
  font-size: 1.1vw;
  border-bottom: 1.5px solid #6D90D4;
  background-color: #135ec5;
}
.input5 {
  font-family: MontserratBold;
  font-size: 1.1vw;
  border-bottom: 1.5px solid #6D90D4;
  background-color: #135ec5;
}
.input4-width {
  width: 14.5vw;
  height: 3vw;
  margin-right: 1.5vw;
  margin-top: 2vw;
}
.input4::-webkit-input-placeholder {
  color: #6D90D4;
}
.input5::-webkit-input-placeholder {
  color: white;
}
.searchbutton2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4vw;
  background: white;
  border: none;
  height: 3.08vw;
  width: 9.33vw;
  text-align: center;
  border-radius: 2.04vw;
  text-transform: uppercase;
  color: #135ec5;
  font-family: MontserratBold;
  font-size: 0.83vw;
}
.form-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
}
@media screen and (min-width: 768px) and (max-width: 999.99px) {
  header {
    min-width: 768px;
    max-width: 999.99px;
    height: 10.99vw;
    background-color: black;
  }
  .logo {
    margin-left: 2.08vw;
    margin-top: 2.08vw;
  }
  .boxcontacti {
    float: left;
  }
  .positioncontacti {
    float: left;
    margin-right: 1.04vw;
    display: flex;
    align-items: center;
    margin-top: 0.47vw;
  }
  .positionlogin {
    float: left;
  }
  .positiontel-mail {
    margin-left: 1vw;
  }
  .tel-mail {
    text-decoration: none;
    font-style: normal;
    font-family: MontserratRegular;
    font-size: 1.4vw;
    color: white;
  }
  address {
    float: right;
    margin-top: 3vw;
    margin-right: 3vw;
  }
  .heightyel-mail {
    width: 3vw;
  }
  .loginbutton {
    background: #fff;
    border: none;
    height: 4vw;
    width: 11vw;
    text-align: center;
    border-radius: 5vw;
  }
  .loginname {
    text-transform: uppercase;
    color: #135ec5;
    font-family: MontserratBold;
    font-size: 1.83vw;
  }

  .baner {
    height: 38vw;
    background-color: black;
    position: relative;
  }
  .tochkiposition {
    padding-top: 20vw;
  }
  .tochka1 {
    border-radius: 100%;
    background-color: white;
    width: 0.95vw;
    height: 0.9vw;
    margin-left: 95vw;
  }
  .tochka2 {
    border-radius: 100%;
    background-color: #135ec5;
    width: 0.95vw;
    height: 0.9vw;
    margin-top: 0.5vw;
    margin-left: 95vw;
  }

  .tochka3 {
    border-radius: 100%;
    background-color: white;
    width: 0.95vw;
    height: 0.9vw;
    margin-top: 0.5vw;
    margin-left: 95vw;
  }
  .banerposition {
    width: 45%;
    margin-left: 24vw;
    position: absolute;
    padding-top: 9vw;
    z-index: 1;
  }

  .imgbaner {
    width: 100%;
  }
  .banertext {
    color: #131210;
    font-family: MontserratBold;
    text-transform: uppercase;
    font-size: 10vw;
    position: absolute;
    margin-top: 3vw;
    margin-left: 25vw;
  }
  .banertext2 {
    color: #131210;
    font-family: MontserratBold;
    text-transform: uppercase;
    font-size: 10vw;
    position: absolute;
    margin-top: 12vw;
    margin-left: 10vw;
  }
  .banertext3 {
    color: #131210;
    font-family: MontserratBold;
    text-transform: uppercase;
    font-size: 10vw;
    position: absolute;
    margin-top: 12vw;
    margin-left: 67vw;
  }
  .modelbox {
    height: 14.42vw;
    background-color: black;
  }
  .h-modelbox {
    text-align: center;
    font-family: MontserratBold;
    font-size: 1.5vw;
    color: white;
  }
  input {
    border: 0px;
  }
  .input-width {
    width: 17.5vw;
    background-color: black;
    float: left;
  }
  input {
    outline: 0 !important;
  }
  .input1 {
    margin-left: 4.15vw;
    font-family: MontserratBold;
    font-size: 1.56vw;
    color: #3c3c3c;
    border-bottom: 1.5px solid #3c3c3c;
  }
  .input-menu {
    margin-left: 3vw;
    padding-top: 2.5vw;
  }
  .searchbutton {
    margin-left: 10vw;
    background: #135ec5;
    border: none;
    height: 4.08vw;
    width: 10.33vw;
    text-align: center;
    border-radius: 2.04vw;
    float: left;
  }
  .searchinname {
    text-transform: uppercase;
    color: white;
    font-family: MontserratBold;
    font-size: 1.3vw;
  }

  button[class^="loginbutton"]:hover {
    background: #135ec5;
    color: #fff;
  }
  button[class^="searchbutton"]:hover {
    background: white;
    color: #135ec5;
  }
  nav {
    height: 12.5vw;
    background-color: white;
    border-bottom: 1.5px solid #ebebeb;
  }
  .textnav {
    font-family: MontserratRegular;
    font-size: 1vw;
    color: #c1c1c1;
    font-weight: bold;
    text-align: center;
    padding-top: 1.5vw;
  }
  .imglogocar {
    width: 100%;
  }
  .mazda {
    float: left;
    width: 8%;
  }
  .hyinday {
    float: left;
    margin-left: 5vw;
    width: 11%;
    margin-top: 0.7vw;
  }
  .BMW {
    float: left;
    margin-left: 5vw;
    width: 8%;
  }
  .volvo {
    float: left;
    margin-left: 5vw;
    width: 8%;
  }
  .chevrolet {
    float: left;
    margin-top: 0.7vw;
    margin-left: 5vw;
    width: 11%;
    margin-top: 1.5vw;
  }
  .mercedes {
    float: left;
    margin-left: 5vw;
    width: 7%;
  }
  .honda {
    float: left;
    margin-left: 5vw;
    width: 8%;
    margin-top: 0.3vw;
  }
  .divlogo {
    margin-left: 7%;
    margin-top: 2vw;
  }
  .baner2 {
    height: 23vw;
    background-color: white;
    padding-top: 6vw;
  }
  .imgbaner2 {
    float: left;
    width: 49vw;
  }
  .imgbaner2car {
    margin-left: 10vw;
    width: 30%;
    position: absolute;
  }
  .textbaner2 {
    float: left;
    width: 40vw;
  }
  .bmwseries {
    font-family: MontserratBold;
    font-size: 3.13vw;
    color: #135ec5;
    padding-left: 5vw;
  }
  .textfonbaner2 {
    font-family: MontserratBold;
    font-size: 7.13vw;
    color: white;
    margin-left: 3vw;
    text-shadow: 1px 1px 2px black;
  }
  .textfonbaner2-1 {
    font-family: MontserratBold;
    font-size: 7.13vw;
    color: white;
    margin-left: 24vw;
    text-shadow: 1px 1px 2px black;
  }
  .textbaner2-1 {
    font-family: OpenSans;
    color: #c1c1c1;
    font-size: 0.83vw;
    margin-top: 1.3vw;
    padding-left: 5vw;
  }
  .textbaner2-2 {
    font-family: OpenSans;
    color: #c1c1c1;
    font-size: 0.83vw;
    margin-top: 1vw;
    padding-left: 5vw;
  }
  .buttonbmw {
    margin-top: 1.5vw;
    background: #135ec5;
    border: none;
    height: 5.08vw;
    width: 22.33vw;
    text-align: center;
    border-radius: 3.04vw;
    font-family: MontserratBold;
    color: white;
    font-size: 1.6vw;
    text-transform: uppercase;
  }
  .buttonpadding {
    padding-left: 5vw;
  }
  button[class^="buttonbmw"]:hover {
    background: white;
    color: #135ec5;
  }
  .bluebox{
    background-color:#135ec5;
    height: 28.33vw;
  }
  .whiteboxaftercar {
    background-color: #f7f7f7;
    height: 6vw;
  }
  .whitebox {
    background-color: #f7f7f7;
    height: 106.77vw;
  }
  .blueboxcarimg {
    width: 35%;
    margin-left: 30vw;
  }
  .blueboxcar {
    padding-top: 4vw;
  }
  .blueboxtext {
    font-family: MontserratBold;
    font-size: 3.13vw;
    color: white;
    text-align: center;
    padding-top: 7vw;
  }
  .addbutton {
    background: #135ec5;
    height: 3.14vw;
    width: 11.21vw;
    text-align: center;
    border-radius: 2.04vw;
    border-color: white;
    margin-left: 43vw;
    margin-top: 2vw;
    border-width: 0.25vw;
    border-style: solid;
  }
  .addname {
    text-transform: uppercase;
    color: white;
    font-family: MontserratBold;
    font-size: 1vw;
  }
  .boxmersedes1 {
    height: 30vw;
    width: 24.22vw;
    margin-left: 9vw;
    padding-top: 5vw;
    position: relative;
    float: left;
  }
  .boxmersedes1blue {
    height: 12vw;
    background-color: #135DC2;
    position: relative;
  }
  .boxmersedes1white {
    height: 17vw;
    background-color: white;
  }
  .boxmersedes1bluetext {
    text-transform: uppercase;
    font-family: MontserratBold;
    font-size: 8vw;
    color: #1d63c3;
    text-align: center;
    padding-top: 1.2vw;
    
  }
  .freshbutton {
    background: white;
    border: none;
    height: 2.08vw;
    width: 6.33vw;
    text-align: center;
    border-radius: 2.04vw;
    font-family: MontserratBold;
    color: #1d63c3;
    font-size: 1vw;
    text-transform: uppercase;
    margin-left: 16vw;
    margin-top: 1.7vw;
    position: absolute;
  }
  .boxmersedes1img {
    width: 70%;
    position: absolute;
    z-index: 1;
    padding-top: 7vw;
    margin-left: 3vw;
  }
  .boxmersedes1imgdiv {
    width: 100%;
  }
  .boxmersedes1text1 {
    font-family: MontserratBold;
    font-size: 1.84vw;
    padding-top: 5vw;
    text-align: center;
  }
  .boxmersedes1text2 {
    font-family: MontserratBold;
    color: #135EC5;
    font-size: 0.84vw;
    padding-top: 0.5vw;
    text-align: center;
  }
  .boxmersedes1text3 {
    font-family: MontserratRegular;
    font-weight: bold;
    color:  #C1C1C1;
    font-size: 0.84vw;
    padding-top: 1.5vw;
    text-align: center;
  }
  .moreinfobutton {
    background: #E2E2E2;
    border: none;
    height: 2.5vw;
    width: 8.33vw;
    text-align: center;
    border-radius: 2.04vw;
    font-family: MontserratBold;
    color: white;
    font-size: 1vw;
    text-transform: uppercase;
    position: absolute;
  }
  .moreinfobuttondiv {
    margin-left: 3vw;
    margin-top: 1.4vw;
  }
  .moreinfobuttondiv::before {
    content: "15.000$"; 
    font-family: MontserratBold;
    font-size: 1.6vw;
    color: #16AD2C;
    margin-right: 4vw;
}
.boxmersedes2 {
  height: 35vw;
  width: 50vw;
  float: left;
  margin-top: 2vw;
  margin-left: 7vw;
  position: relative;
  overflow: hidden;
}
.boxmersedes2white {
  background-color: white;
  width: 27vw;
  height: 35vw;
  float: left;

}
.boxmersedes2blue {
  background-color: #135EC4;
  width: 23vw;
  height: 35vw;
  float: left;
}
.boxmersedes2text1 {
  font-family: MontserratBold;
  color: #E2E2E2;
  font-size: 0.84vw;
  padding-top: 4vw;
  margin-left: 3vw;
}
.boxmersedes2text1::after {
  content: "15.000$"; 
  font-family: MontserratBold;
  font-size: 1.6vw;
  color: #16AD2C;
  margin-left: 9vw;
}
.boxmersedes2text2 {
    font-family: MontserratBold;
    color: #135EC5;
    font-size: 1.84vw;
    padding-top: 7vw;
    margin-left: 3vw;
}
.boxmersedes2text3 {
  width: 21.56vw;
  font-family: OpenSans;
  color: #C1C1C1;
  font-size: 0.83vw;
  line-height: 1.8vw;
  margin-left: 3vw;
  word-spacing: 0.6vw;
  margin-top: 1.5vw;
}
.orderbutton {
  margin-top: 1.5vw;
  background: #135ec5;
  border: none;
  height: 3.08vw;
  width: 11.33vw;
  text-align: center;
  border-radius: 2.04vw;
  font-family: MontserratBold;
  color: white;
  font-size: 0.95vw;
  text-transform: uppercase;
  margin-left: 3vw;
  margin-top: 3vw;
}
.freshbutton2 {
  background: white;
  border: none;
  height: 2.08vw;
  width: 6.33vw;
  text-align: center;
  border-radius: 2.04vw;
  font-family: MontserratBold;
  color: #1d63c3;
  font-size: 1vw;
  text-transform: uppercase;
  margin-left: 14.5vw;
  margin-top: 3.7vw;
  position: absolute;
}
.boxmersedes2divimg {
  width: 100%;
  position: absolute;
}
.boxmersedes2img {
  width: 60%;
  margin-top: 10vw;
  margin-left: 24vw;
}
.bottomboxnav {
  width: 76.3vw;
  background-color: rgb(53, 85, 17);
  padding-top: -20vw;
  position: absolute;
  margin-top: 43vw;
  margin-left: 12vw;
}
.bottomboxnavwhite {
  background-color: white;
}
.bottomboxnavblue {
  background-color: #135EC5;
  padding-top: 4vw;
    padding-left: 4vw;
    padding-right: 4vw;
    padding-bottom: 4vw;
}
.input2 {
  margin-left: 3.15vw;
  font-family: MontserratBold;
  font-size: 1.1vw;
  color: #E1E1E1;
  border-bottom: 1.5px solid #EBEBEB;
}
.input2-width {
  width: 14.5vw;
  float: left;
  margin-top: 4vw;
  height: 3vw;
}
.input3 {
  margin-left: 3.15vw;
  font-family: MontserratBold;
  font-size: 1.1vw;
  color: #E1E1E1;
  border-bottom: 1.5px solid #EBEBEB;
  background-image: url(./image/gps.png);   
  background-repeat: no-repeat; /*Убираем повтор изображения*/   
  background-position: 16vw; /*Позиционируем*/   
}
.input3-width {
  width: 14.5vw;
  float: left;
  margin-top: 4vw;
  height: 3vw;
}
.input3::-webkit-input-placeholder {
  color: black;
}
.input-menu2 {
  border-bottom: 1.5px solid #F5F5F5;
  height: 12vw;
}
.divlogobottom {
  height: 8vw;
}
.divlogocarbottom{
  width: 100%;
}
.mazda2 {
  float: left;
  width: 8%;
  margin-left: 5vw;
  margin-top: 1.2vw;
}
.hyinday2 {
  float: left;
  margin-left: 3vw;
  width: 11%;
  margin-top: 1.9vw;
}
.BMW2 {
  float: left;
  margin-left: 3vw;
  width: 8%;
  margin-top: 1.2vw;
}
.volvo2 {
  float: left;
  margin-left: 3vw;
  width: 8%;
  margin-top: 1.2vw;
}
.chevrolet2 {
  float: left;
  margin-top: 0.7vw;
  margin-left: 3vw;
  width: 11%;
  margin-top: 2.7vw;
}
.mercedes2 {
  float: left;
  margin-left: 3vw;
  width: 7%;
  margin-top: 1.2vw;
}
.honda2 {
  float: left;
  margin-left: 3vw;
  width: 8%;
  margin-top: 1.5vw;
}
.imglogocarbottom {
  width: 100%;
}
.input-menu3 {
  height: 9vw;
}
.hidebutton {
  margin-top: 1.8vw;
  background: #135ec5;
  border: none;
  height: 2.08vw;
  width: 15.33vw;
  text-align: center;
  font-family: MontserratBold;
  color: white;
  font-size: 0.95vw;
  margin-left: 30vw;
  border-top-left-radius: 1.2vw;
  border-top-right-radius: 1.2vw;
}
.input4 {
  font-family: MontserratBold;
  font-size: 1.1vw;
  border-bottom: 1.5px solid #6D90D4;
  background-color: #135ec5;
}
.input5 {
  font-family: MontserratBold;
  font-size: 1.1vw;
  border-bottom: 1.5px solid #6D90D4;
  background-color: #135ec5;
}
.input4-width {
  width: 14.5vw;
  margin-right: 1.5vw;
  float: left;
  height: 3vw;
  margin-top: 2vw;
}
.input4::-webkit-input-placeholder {
  color: #6D90D4;
}
.input5::-webkit-input-placeholder {
  color: white;
}
.searchbutton2 {
    /* margin-left: 33vw; */
    display: block;
    margin-top: 4vw;
    margin-right: auto;
    margin-left: auto;
    background: white;
    border: none;
    height: 3.08vw;
    width: 9.33vw;
    text-align: center;
    border-radius: 2.04vw;
    text-transform: uppercase;
    color: #135ec5;
    font-family: MontserratBold;
    font-size: 0.83vw;
}
.form-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  header {
    min-width: 320px;
    max-width: 767px;
    height: 17.65vw;
    background-color: black;
  }
  .logo {
    margin-left: 2.08vw;
    margin-top: 2.08vw;
  }
  .boxcontacti {
    float: left;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
  }
  .positioncontacti {
    padding-top: 1.78vw;
    margin-right: 1.04vw;
    display: flex;
    align-items: center;
  }
  .positionlogin {
    float: left;
  }
  .positiontel-mail {
    margin-left: 1.42vw;
  }
  .tel-mail {
    text-decoration: none;
    font-style: normal;
    font-family: MontserratRegular;
    font-size: 2vw;
    color: white;
  }
  address {
    float: right;
    margin-right: 3vw;
  }
  .heightyel-mail {
    width: 2.78vw;
  }
  .loginbutton {
    background: #fff;
    border: none;
    height: 6.34vw;
    width: 17.17vw;
    text-align: center;
    border-radius: 4.04vw;
    margin-top: 1.63vw;
  }
  .loginname {
    text-transform: uppercase;
    color: #135ec5;
    font-family: MontserratBold;
    font-size: 1.83vw;
  }
  .baner {
    height: 38vw;
    background-color: black;
    position: relative;
  }
  .banerposition {
    width: 45%;
    margin-left: 24vw;
    position: absolute;
    padding-top: 9vw;
    z-index: 1;
  }
  .imgbaner {
    width: 100%;
  }
  .tochkiposition {
    padding-top: 20vw;
  }
  .tochka1 {
    border-radius: 100%;
    background-color: white;
    width: 0.95vw;
    height: 0.9vw;
    margin-left: 95vw;
  }
  .tochka2 {
    border-radius: 100%;
    background-color: #135ec5;
    width: 0.95vw;
    height: 0.9vw;
    margin-top: 0.5vw;
    margin-left: 95vw;
  }

  .tochka3 {
    border-radius: 100%;
    background-color: white;
    width: 0.95vw;
    height: 0.9vw;
    margin-top: 0.5vw;
    margin-left: 95vw;
  }
  .banertext {
    color: #131210;
    font-family: MontserratBold;
    text-transform: uppercase;
    font-size: 10vw;
    position: absolute;
    margin-top: 3vw;
    margin-left: 25vw;
  }
  .banertext2 {
    color: #131210;
    font-family: MontserratBold;
    text-transform: uppercase;
    font-size: 10vw;
    position: absolute;
    margin-top: 12vw;
    margin-left: 10vw;
  }
  .banertext3 {
    color: #131210;
    font-family: MontserratBold;
    text-transform: uppercase;
    font-size: 10vw;
    position: absolute;
    margin-top: 12vw;
    margin-left: 67vw;
  }
  .modelbox {
    height: 14.42vw;
    background-color: black;
  }
  .h-modelbox {
    text-align: center;
    font-family: MontserratBold;
    font-size: 1.5vw;
    color: white;
  }
  input {
    border: 0px;
  }
  .input-width {
    width: 17.5vw;
    background-color: black;
    float: left;
  }
  input {
    outline: 0 !important;
  }
  .input1 {
    margin-left: 4.15vw;
    font-family: MontserratBold;
    font-size: 2.5vw;
    color: #3c3c3c;
    border-bottom: 1.5px solid #3c3c3c;
  }
  .input-menu {
    margin-left: 3vw;
    padding-top: 2.5vw;
  }
  .searchbutton {
    margin-left: 10vw;
    background: #135ec5;
    border: none;
    height: 5.08vw;
    width: 13.33vw;
    text-align: center;
    border-radius: 3.04vw;
    float: left;
  }
  .searchinname {
    text-transform: uppercase;
    color: white;
    font-family: MontserratBold;
    font-size: 1.9vw;
  }

  button[class^="loginbutton"]:hover {
    background: #135ec5;
    color: #fff;
  }
  button[class^="searchbutton"]:hover {
    background: white;
    color: #135ec5;
  }
  nav {
    height: 12.5vw;
    background-color: white;
    border-bottom: 1.5px solid #ebebeb;
  }
  .textnav {
    font-family: MontserratRegular;
    font-size: 1vw;
    color: #c1c1c1;
    font-weight: bold;
    text-align: center;
    padding-top: 1.5vw;
  }
  .imglogocar {
    width: 100%;
  }
  .mazda {
    float: left;
    width: 8%;
  }
  .hyinday {
    float: left;
    margin-left: 5vw;
    width: 11%;
    margin-top: 0.7vw;
  }
  .BMW {
    float: left;
    margin-left: 5vw;
    width: 8%;
  }
  .volvo {
    float: left;
    margin-left: 5vw;
    width: 8%;
  }
  .chevrolet {
    float: left;
    margin-top: 0.7vw;
    margin-left: 5vw;
    width: 11%;
    margin-top: 1.5vw;
  }
  .mercedes {
    float: left;
    margin-left: 5vw;
    width: 7%;
  }
  .honda {
    float: left;
    margin-left: 5vw;
    width: 8%;
    margin-top: 0.3vw;
  }
  .divlogo {
    margin-left: 7%;
    margin-top: 2vw;
  }
  .baner2 {
    height: 50vw;
    background-color: white;
    padding-top: 9vw;
  }
  .imgbaner2 {
    width: 49vw;
    display: inline-block;
    margin-left: 40%;
  }
  .imgbaner2car {
    margin-left: 10vw;
    width: 30%;
    position: absolute;
  }
  .textbaner2 {
    width: 60vw;
    margin-top: 1vw;
  }
  .bmwseries {
    font-family: MontserratBold;
    font-size: 5.13vw;
    color: #135ec5;
    padding-left: 15vw;
  }
  .textfonbaner2 {
    font-family: MontserratBold;
    font-size: 7.13vw;
    color: white;
    margin-left: 3vw;
    text-shadow: 1px 1px 2px black;
  }
  .textfonbaner2-1 {
    font-family: MontserratBold;
    font-size: 7.13vw;
    color: white;
    margin-left: 24vw;
    text-shadow: 1px 1px 2px black;
  }
  .textbaner2-1 {
    font-family: OpenSans;
    color: #c1c1c1;
    font-size: 1.83vw;
    margin-top: 1.3vw;
    padding-left: 15vw;
  }
  .textbaner2-2 {
    font-family: OpenSans;
    color: #c1c1c1;
    font-size: 1.83vw;
    margin-top: 1vw;
    padding-left: 15vw;
  }

  .buttonbmw {
    margin-top: 1.5vw;
    background: #135ec5;
    border: none;
    height: 7.08vw;
    width: 22.33vw;
    text-align: center;
    border-radius: 4.04vw;
    font-family: MontserratBold;
    color: white;
    font-size: 1.83vw;
    text-transform: uppercase;
  }
  .buttonpadding {
    padding-left: 15vw;
  }
  button[class^="buttonbmw"]:hover {
    background: white;
    color: #135ec5;
  }
  .bluebox{
    background-color:#135ec5;
    height: 28.33vw;
  }
  .whiteboxaftercar {
    background-color: #f7f7f7;
    height: 6vw;
  }
  .whitebox {
    background-color: #f7f7f7;
    height: 106.77vw;
  }
  .blueboxcarimg {
    width: 35%;
    margin-left: 30vw;
  }
  .blueboxcar {
    padding-top: 4vw;
  }
  .blueboxtext {
    font-family: MontserratBold;
    font-size: 3.13vw;
    color: white;
    text-align: center;
    padding-top: 7vw;
  }
  .addbutton {
    background: #135ec5;
    height: 3.14vw;
    width: 11.21vw;
    text-align: center;
    border-radius: 2.04vw;
    border-color: white;
    margin-left: 43vw;
    margin-top: 2vw;
    border-width: 0.25vw;
    border-style: solid;
  }
  .addname {
    text-transform: uppercase;
    color: white;
    font-family: MontserratBold;
    font-size: 1vw;
  }
  .boxmersedes1 {
    height: 30vw;
    width: 24.22vw;
    margin-left: 9vw;
    padding-top: 5vw;
    position: relative;
    float: left;
  }
  .boxmersedes1blue {
    height: 12vw;
    background-color: #135DC2;
    position: relative;
  }
  .boxmersedes1white {
    height: 17vw;
    background-color: white;
  }
  .boxmersedes1bluetext {
    text-transform: uppercase;
    font-family: MontserratBold;
    font-size: 8vw;
    color: #1d63c3;
    text-align: center;
    padding-top: 1.2vw;
    
  }
  .freshbutton {
    background: white;
    border: none;
    height: 2.08vw;
    width: 6.33vw;
    text-align: center;
    border-radius: 2.04vw;
    font-family: MontserratBold;
    color: #1d63c3;
    font-size: 1vw;
    text-transform: uppercase;
    margin-left: 16vw;
    margin-top: 1.7vw;
    position: absolute;
  }
  .boxmersedes1img {
    width: 70%;
    position: absolute;
    z-index: 1;
    padding-top: 7vw;
    margin-left: 3vw;
  }
  .boxmersedes1imgdiv {
    width: 100%;
  }
  .boxmersedes1text1 {
    font-family: MontserratBold;
    font-size: 1.84vw;
    padding-top: 5vw;
    text-align: center;
  }
  .boxmersedes1text2 {
    font-family: MontserratBold;
    color: #135EC5;
    font-size: 0.84vw;
    padding-top: 0.5vw;
    text-align: center;
  }
  .boxmersedes1text3 {
    font-family: MontserratRegular;
    font-weight: bold;
    color:  #C1C1C1;
    font-size: 0.84vw;
    padding-top: 1.5vw;
    text-align: center;
  }
  .moreinfobutton {
    background: #E2E2E2;
    border: none;
    height: 2.5vw;
    width: 8.33vw;
    text-align: center;
    border-radius: 2.04vw;
    font-family: MontserratBold;
    color: white;
    font-size: 1vw;
    text-transform: uppercase;
    position: absolute;
  }
  .moreinfobuttondiv {
    margin-left: 3vw;
    margin-top: 1.4vw;
  }
  .moreinfobuttondiv::before {
    content: "15.000$"; 
    font-family: MontserratBold;
    font-size: 1.6vw;
    color: #16AD2C;
    margin-right: 4vw;
}
.boxmersedes2 {
  height: 35vw;
  width: 50vw;
  float: left;
  margin-top: 2vw;
  margin-left: 7vw;
  position: relative;
  overflow: hidden;
}
.boxmersedes2white {
  background-color: white;
  width: 27vw;
  height: 35vw;
  float: left;

}
.boxmersedes2blue {
  background-color: #135EC4;
  width: 23vw;
  height: 35vw;
  float: left;
}
.boxmersedes2text1 {
  font-family: MontserratBold;
  color: #E2E2E2;
  font-size: 0.84vw;
  padding-top: 4vw;
  margin-left: 3vw;
}
.boxmersedes2text1::after {
  content: "15.000$"; 
  font-family: MontserratBold;
  font-size: 1.6vw;
  color: #16AD2C;
  margin-left: 9vw;
}
.boxmersedes2text2 {
    font-family: MontserratBold;
    color: #135EC5;
    font-size: 1.84vw;
    padding-top: 7vw;
    margin-left: 3vw;
}
.boxmersedes2text3 {
  width: 21.56vw;
  font-family: OpenSans;
  color: #C1C1C1;
  font-size: 0.83vw;
  line-height: 1.8vw;
  margin-left: 3vw;
  word-spacing: 0.6vw;
  margin-top: 1.5vw;
}
.orderbutton {
  margin-top: 1.5vw;
  background: #135ec5;
  border: none;
  height: 3.08vw;
  width: 11.33vw;
  text-align: center;
  border-radius: 2.04vw;
  font-family: MontserratBold;
  color: white;
  font-size: 0.95vw;
  text-transform: uppercase;
  margin-left: 3vw;
  margin-top: 3vw;
}
.freshbutton2 {
  background: white;
  border: none;
  height: 2.08vw;
  width: 6.33vw;
  text-align: center;
  border-radius: 2.04vw;
  font-family: MontserratBold;
  color: #1d63c3;
  font-size: 1vw;
  text-transform: uppercase;
  margin-left: 14.5vw;
  margin-top: 3.7vw;
  position: absolute;
}
.boxmersedes2divimg {
  width: 100%;
  position: absolute;
}
.boxmersedes2img {
  width: 60%;
  margin-top: 10vw;
  margin-left: 24vw;
}
.bottomboxnav {
  width: 76.3vw;
  background-color: rgb(53, 85, 17);
  padding-top: -20vw;
  position: absolute;
  margin-top: 43vw;
  margin-left: 12vw;
}
.bottomboxnavwhite {
  background-color: white;
}
.bottomboxnavblue {
  background-color: #135EC5;
  padding-top: 4vw;
    padding-left: 4vw;
    padding-right: 4vw;
    padding-bottom: 4vw;
}
.input2 {
  margin-left: 3.15vw;
  font-family: MontserratBold;
  font-size: 1.1vw;
  color: #E1E1E1;
  border-bottom: 1.5px solid #EBEBEB;
}
.input2-width {
  width: 14.5vw;
  float: left;
  margin-top: 4vw;
  height: 3vw;
}
.input3 {
  margin-left: 3.15vw;
  font-family: MontserratBold;
  font-size: 1.1vw;
  color: #E1E1E1;
  border-bottom: 1.5px solid #EBEBEB;
  background-image: url(./image/gps.png);   
  background-repeat: no-repeat; /*Убираем повтор изображения*/   
  background-position: 16vw; /*Позиционируем*/   
}
.input3-width {
  width: 14.5vw;
  float: left;
  margin-top: 4vw;
  height: 3vw;
}
.input3::-webkit-input-placeholder {
  color: black;
}
.input-menu2 {
  border-bottom: 1.5px solid #F5F5F5;
  height: 12vw;
}
.divlogobottom {
      display: flex;
      flex-wrap: nowrap;
      align-content: center;
      justify-content: space-evenly;
}
.divlogocarbottom{
  width: 100%;
}
.mazda2 {
  width: 8%;
  margin-top: 1.2vw;
}
.hyinday2 {
  width: 11%;
  margin-top: 1.9vw;
}
.BMW2 {
  width: 8%;
  margin-top: 1.2vw;
}
.volvo2 {
  width: 8%;
  margin-top: 1.2vw;
}
.chevrolet2 {
  width: 11%;
  margin-top: 2.7vw;
}
.mercedes2 {
  width: 7%;
  margin-top: 1.2vw;
}
.honda2 {
  width: 8%;
  margin-top: 1.5vw;
}
.imglogocarbottom {
  width: 100%;
}
.input-menu3 {
  height: 9vw;
}
.hidebutton {
  margin-top: 1.8vw;
  background: #135ec5;
  border: none;
  height: 2.08vw;
  width: 15.33vw;
  text-align: center;
  font-family: MontserratBold;
  color: white;
  font-size: 0.95vw;
  margin-left: 30vw;
  border-top-left-radius: 1.2vw;
  border-top-right-radius: 1.2vw;
}
.input4 {
  font-family: MontserratBold;
  font-size: 1.1vw;
  border-bottom: 1.5px solid #6D90D4;
  background-color: #135ec5;
}
.input5 {
  font-family: MontserratBold;
  font-size: 1.1vw;
  border-bottom: 1.5px solid #6D90D4;
  background-color: #135ec5;
}
.input4-width {
  width: 14.5vw;
  margin-right: 1.5vw;
  float: left;
  height: 3vw;
  margin-top: 2vw;
}
.input4::-webkit-input-placeholder {
  color: #6D90D4;
}
.input5::-webkit-input-placeholder {
  color: white;
}
.searchbutton2 {
    display: block;
    margin-top: 4vw;
    margin-right: auto;
    margin-left: auto;
    background: white;
    border: none;
    height: 3.08vw;
    width: 9.33vw;
    text-align: center;
    border-radius: 2.04vw;
    text-transform: uppercase;
    color: #135ec5;
    font-family: MontserratBold;
    font-size: 0.83vw;
}
.form-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
}
