@font-face {
    font-family: MinionPro;
    src:url(./fonts/MinionPro-Bold.otf);
}
@font-face {
    font-family: OpenSans;
    src: url(./fonts/OpenSans-Regular.ttf);
}
@font-face {
    font-family: MinionProRegular;
    src: url(./fonts/MinionPro-Regular.otf);
}

/* Шапка*/
 .generalbox {
    width: 1302px;
    margin: 0px;
    padding: 0px;
    margin-left: auto;
    margin-right: auto;
 }

.hat {
    height: 72px;
    background-color: #8C0A0D;
}
.logo {
    margin-top: 16px;
    float: left;
    margin-left: 68px;
}
.menu {
    margin-left: 340px;
    padding-top: 30px;
   
}
.menu2 {
    font-family: MinionPro;
    font-size: 14px;
    color: #FFE394;
    margin-left: 30px;
    float: left; 
}
.image {
    margin-left: 86px;
    float: left;
}
.language {
    font-family: MinionPro;
    font-size: 18px;
    color: #FFE394;
    margin-left: 10px;
    float: left; 
  
   
}

/* Тело странички с фоном, текстом и картинкой*/
.body3 {
    position: absolute;
    width: 1302px;
    height: 682px;  
}

.fon {
    position: absolute;
    height: 682px; 
    width: 1304px;
}

.picture {
    position: absolute;
    margin-left: 60px;
    margin-top: 25px;
    border-width: 5px;
    border-color: black;
    border-style: solid;
}
.name {
    position: absolute;
    font-family: MinionPro;
    font-size: 60px;
    color: black;
    margin-left: 422px;
    margin-top: 40px;
}

.strelka1 {
    position: absolute;
    margin-left: 94px;
    margin-top: 165px;

}
.strelka2 {
    position: absolute;
    transform: scaleX(-1);
    margin-left: 1145px;
    margin-top: 165px;
}
.button {
    position: absolute;
    font-family: MinionPro; 
    font-size: 24px;
    color: black;
    font-weight: bold;
    border: none;
    background-color: #F6CC79;
    border-bottom: 5px solid #BF670D;
    height: 44px;
    width: 191px;
    border-radius: 8px;
    margin-left: 560px;
    margin-top: 120px;
}

.textobch {
    position: relative;
    margin-left: 66px;
    margin-top: 389px;
    font-family: MinionProRegular;
    color:black;  
}

.textkolonki {
    width: 280px;
    float: left;
    margin-right: 20px;
}

.text1 {
    font-weight: bold;
    font-size: 18px;
    height: 89px;
    
   
}

.text2 {
    font-size: 16px;
    margin-top: 20px;
    text-align: justify;
}

.maine {
    position: absolute;
    margin-top: 330px;
    margin-left: 620px;
}

.circle-1 {
    height: 20px;
    width: 20px;
    background-color: white;
    border-radius: 50%;
    float: left;
    margin-right: 7px;
}


.circle-2 {
    height: 20px;
    width: 20px;
    background-color: #BF670D;
    border-radius: 50%;
    float: left;
    margin-right: 7px;
}


.circle-3 {
    height: 20px;
    width: 20px;
    background-color: white;
    border-radius: 50%;
    float: left;
    margin-right: 4px;
}

/* Подвал*/
.basement {
    height: 72px;
    background-color: #8C0A0D;
    position: relative;
    margin-top: 658px;  
}

.class-font-podval {
    font-family: MinionPro;;
    font-size: 14px;
    color: #FBC86B;
    margin-left: auto;
    margin-right: auto;
    margin-top: 18px;
    float: left;
}

.class-table {
    float: left;
}

.class-table1 {
    margin-left: 68px;
    margin-top: 26px;
}
.class-table2 {
    margin-left: 106px;
}
.class-table2-2 {
    margin-left: 106px;
    margin-top: 8px;
}
.class-table3 {
    margin-left: 152px;
}
.class-table3-2 {
    margin-left: 178px;
    margin-top: 8px;
}
.class-table4 {
    margin-left: 161px;
}
.class-table4-2 {
    margin-left: 161px;
    margin-top: 8px;
}
.class-favicon {
    float: left;
    margin-top: 30px;
    margin-left: 50px;
    
}
.facebookvk {
    float: left;
    position:relative;
    margin-right: 10px;
}