body {
  margin: 0;
  padding: 0px;
  background-color: #afa6a6;
}

@media screen and (min-width: 1000px) and (max-width: 1980px) {
  form {
    max-width: 400px;
    width: 100%;
    background-color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4vw;
    margin-bottom: 4vw;
    border-radius: 1vw;
  }
  .block {
    padding-top: 5vw;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-bottom: 5vw;
  }

  .texth {
    font-size: 30px;
    color: #1c1c1c;
    font-weight: 3vw;
    text-align: center;
  }
  input {
    width: 100%;
    height: 40px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 0.2vw solid #b9b0b0;
    font-size: 15px;
    font-family: system-ui;
    margin-top: 2vw;
  }
  button {
    border-radius: 25px;
    height: 45px;
    width: 260px;
    margin-top: 45px;
    border: none;
    font-size: 14px;
    text-transform: uppercase;
    font-family: aria;
    color: white;
    background: linear-gradient(66deg, #26cad9, #bf78d1);
  }

  .bottom {
    text-align: center;
    margin-top: 80px;
    color: grey;
    font-size: 12px;
  }
}

@media screen and (min-width: 768px) and (max-width: 999.99px) {
  form {
    max-width: 400px;
    width: 100%;
    background-color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4vw;
    margin-bottom: 4vw;
    border-radius: 1vw;
  }
  .block {
    padding-top: 7vw;
    padding-left: 7vw;
    padding-right: 7vw;
    padding-bottom: 7vw;
  }
  .texth {
    font-size: 28px;
    color: #1c1c1c;
    font-weight: 3vw;
    text-align: center;
  }
  input {
    width: 100%;
    height: 40px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 0.2vw solid #b9b0b0;
    font-size: 15px;
    font-family: system-ui;
    margin-top: 2vw;
  }
  button {
    border-radius: 25px;
    height: 45px;
    width: 260px;
    margin-top: 45px;
    border: none;
    font-size: 14px;
    text-transform: uppercase;
    font-family: aria;
    color: white;
    background: linear-gradient(66deg, #26cad9, #bf78d1);
  }
  .bottom {
    text-align: center;
    margin-top: 80px;
    color: grey;
    font-size: 12px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  form {
    max-width: 318px;
    width: 100%;
    background-color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4vw;
    margin-bottom: 4vw;
    border-radius: 1vw;
  }
  .block {
    padding-top: 5vw;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-bottom: 5vw;
  }
  .texth {
    font-size: 25px;
    color: #1c1c1c;
    font-weight: 3vw;
    text-align: center;
  }
  input {
    width: 100%;
    height: 40px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 0.2vw solid #b9b0b0;
    font-size: 13px;
    font-family: system-ui;
    margin-top: 2vw;
  }
  button {
    border-radius: 25px;
    height: 40px;
    width: 200px;
    margin-top: 45px;
    border: none;
    font-size: 13px;
    text-transform: uppercase;
    font-family: aria;
    color: white;
    background: linear-gradient(66deg, #26cad9, #bf78d1);
  }
  .bottom {
    text-align: center;
    margin-top: 80px;
    color: grey;
    font-size: 12px;
  }
}




.butt {
    text-align: center;
  }
::placeholder {
  color: #b9b0b0;
}

  input[type="password"] {
    background-image: url(./image/pass.jpg);
    background-repeat: no-repeat;
    background-position: right;
}

a {
  text-decoration: none;
  color: black;
}
a:before {
  content: "\00a0";
}
input {
  outline: 0 !important;
}
button:hover {
  background: linear-gradient(66deg, #bf78d1, #26cad9);
  cursor: pointer;
}
