body {
    width: 750px;
    margin-left: auto;
    margin-right: auto;
    src: url();
}

@font-face{
    font-family: MyriadPro;
    src: url(./fonts/MyriadPro-Regular.ttf);

}

/* Шапка с лого и меню */
/* Шапка*/
.class-head {
    position: relative;
    height: 237px;
    background-color: #2D7053;
}

/* Лого */
.class-logo {
    margin-top: 46px;
    margin-left: 40px;
    display: inline-block;
}

/* Текст кабинет психологии */
.class-headtext {
    height: 131px;
    width: 134px;
    margin-left: 40px;
    font-family: MyriadPro; 
    font-size: 30px;
    color: white;
    display: inline-block;
}

/* Меню*/
.class-blockhr {
    display: inline-block;
    margin-left: 257px;
    margin-bottom: 40px;
}

.class-hr {
    border-radius: 10px;
    margin-top: 10px;
    height: 10px;
    width: 70px;
    background-color: white;
}


/* Средняя часть с кнопкой записаться на прием */
/* Кнопка*/
button {
    background-color: #CB9223; 
    font-family: MyriadPro; 
    font-size: 24px;
    color: white;
    border: none;
    height: 77px;
    width: 344px;
}

.class-button {
    margin-left: 205px;
    margin-top: 340px;
}


/* Средняя часть с фото и информацией */

/*Тело*/
.class-bodyinfo {
    position: relative;
    background-color: white;   
}

/*Фото*/
.class-bodyphoto {
    border-radius: 200px;
}

/*Заголовок ФИО*/
.boxlogo {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    padding-top: 70px;
    margin-left: 40px;
}
.boxname{
    display: inline-block;
    margin-left: 70px;
}
.class-h2 {
    font-family: MyriadPro;
    font-size: 36px;
    font-weight: normal;
}

/*Текст*/
.class-name {
    font-family: MyriadPro;
    font-size: 24px;
}

.class-textpro {
    height: 166px;
    width: 590px;
    font-family: MyriadPro;
    font-size: 24px;
    text-align: left;
    margin-top: 46px;
    margin-left: 44px;
}

/*Заголовок нумер.списка*/
.class-h2-2 {
    font-family: MyriadPro;
    font-size: 36px;
    font-weight: normal;
    margin-left: 44px;
}

/*Список причины*/
.class-numberlist {
    font-family: MyriadPro;
    font-size: 24px;
    margin-left: 44px;
}

/*Кнопка 2*/
.class-bodybutton2 {
    margin-top: 60px;
    margin-left: 205px;
    padding-bottom: 60px;
}


/* Подвал */
.class-basement {
    position: relative;
    height: 156px;
    background-color: #888888;
}

/* Лого подвал */
.class-logo2 {
    margin-top: 29px;
    margin-left: 44px;
}

/* Номер тел */
.tel-email {
    display: inline-block;
    margin-left: 33px;
}
.class-tel {
    font-family: MyriadPro;
    font-size: 18px;
  
}

/* Эмейл*/
.class-email {
    font-family: MyriadPro;
    font-size: 18px;
    margin-top: 15px;
}
/* Адресс*/
.class-adres {
    margin-left: 200px;
    font-family: MyriadPro;
    font-size: 18px;
    color: white;
    display: inline-block;
}