@font-face {
    font-family: BreeSerif-Regular;
    src: url(./fonts/BreeSerif-Regular.ttf);
}

/* Основной див */
.body {
    width: 750px;
    height: 2632px;
    background-color: #F2F2F2;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    font-family: BreeSerif-Regular;
    color: #511604;
    margin-left: 20px;
    padding-top: 20px;
}
/* Описание блюда */
span {
    display: inline-block;
    width: 540px; 
    font-family: BreeSerif-Regular;
    color: #6D7E85;
    margin-top: 20px;
}
 /* Положение картинок */
.floatleft {
    float: left;
    margin-right: 20px;
  
}
.imageline {
    margin-left: 20px;
}

 /* Контейнер с названием и описанием блюд*/
.container {
    width: 540px; 
    height: 18px;
    margin-left: 170px; 
    text-align:left;
}
/* Цена и положение первого блюда */
/* Название 1 блюда */
.nameh3 {
    font-family: BreeSerif-Regular;
    color: #B68F40;
    float: left;
 }
.nameh3::after {
    content: "$ 2,00";
    margin-left: 430px;
}
.mnogotochie {
    justify-content: space-between;
    border-bottom: 1px dotted #6D7E85;
    height: 17px;
    margin-top: 1px;
    margin-right: 55px;
    margin-bottom: 1px;
    margin-left: 80px;
}
/* Цена и положение второго блюда */
.mnogotochie2 {
    justify-content: space-between;
    border-bottom: 1px dotted #6D7E85;
    height: 17px;
    margin-top: 1px;
    margin-right: 59px;
    margin-bottom: 1px;
    margin-left: 190px;
}

.block1 {
    display: inline-block;
}
.nameh4 {
    font-family: BreeSerif-Regular;
    color: #B68F40;
    float: left;
    height: 10px; 
 }
.nameh4::after {
    content: "$ 4,50";
    margin-left: 317px;
}
/* Цена и положение третьего блюда */
.nameh5 {
    font-family: BreeSerif-Regular;
    color: #B68F40;
    float: left;
    height: 10px; 
 }
.nameh5::after {
    content: "$ 12,50";
    margin-left: 347px;
}
.mnogotochie3 {
    justify-content: space-between;
    border-bottom: 1px dotted #6D7E85;
    height: 17px;
    margin-top: 1px;
    margin-right: 59px;
    margin-bottom: 1px;
    margin-left: 158px;
}
/*Цена и положение четвертого блюда */
.nameh6 {
    font-family: BreeSerif-Regular;
    color: #B68F40;
    float: left;
    height: 10px; 
 }
.nameh6::after {
    content: "$ 10,50";
    margin-left: 361px;
}
.mnogotochie4 {
    justify-content: space-between;
    border-bottom: 1px dotted #6D7E85;
    height: 17px;
    margin-top: 1px;
    margin-right: 59px;
    margin-bottom: 1px;
    margin-left: 142px;
}
/*Цена и положение пятого блюда */
.nameh7 {
    font-family: BreeSerif-Regular;
    color: #B68F40;
    float: left;
    height: 10px; 
 }
.nameh7::after {
    content: "$ 8,00";
    margin-left: 373px;
}
.mnogotochie5 {
    justify-content: space-between;
    border-bottom: 1px dotted #6D7E85;
    height: 17px;
    margin-top: 1px;
    margin-right: 59px;
    margin-bottom: 1px;
    margin-left: 134px;
}
/*Цена и положение шестого блюда */
.nameh8 {
    font-family: BreeSerif-Regular;
    color: #B68F40;
    float: left;
    height: 10px; 
 }
.nameh8::after {
    content: "$ 6,50";
    margin-left: 398px;
}
.mnogotochie6 {
    justify-content: space-between;
    border-bottom: 1px dotted #6D7E85;
    height: 17px;
    margin-top: 1px;
    margin-right: 59px;
    margin-bottom: 1px;
    margin-left: 111px;
}
/*Цена и положение седьмого блюда */
.nameh9 {
    font-family: BreeSerif-Regular;
    color: #B68F40;
    float: left;
    height: 10px; 
 }
.nameh9::after {
    content: "$ 12,50";
    margin-left: 380px;
}
.mnogotochie7 {
    justify-content: space-between;
    border-bottom: 1px dotted #6D7E85;
    height: 17px;
    margin-top: 1px;
    margin-right: 59px;
    margin-bottom: 1px;
    margin-left: 119px;
}
/*Цена и положение восьмого блюда */
.nameh10 {
    font-family: BreeSerif-Regular;
    color: #B68F40;
    float: left;
    height: 10px; 
 }
.nameh10::after {
    content: "$ 3,50";
    margin-left: 408px;
}
.mnogotochie8 {
    justify-content: space-between;
    border-bottom: 1px dotted #6D7E85;
    height: 17px;
    margin-top: 1px;
    margin-right: 59px;
    margin-bottom: 1px;
    margin-left: 100px;
}
/*Цена и положение девятого блюда */
.nameh11 {
    font-family: BreeSerif-Regular;
    color: #B68F40;
    float: left;
    height: 10px; 
 }
.nameh11::after {
    content: "$ 4,50";
    margin-left: 457px;
}
.mnogotochie9 {
    justify-content: space-between;
    border-bottom: 1px dotted #6D7E85;
    height: 17px;
    margin-top: 1px;
    margin-right: 59px;
    margin-bottom: 1px;
    margin-left: 50px;
}
/*Цена и положение десятого блюда */
.nameh12 {
    font-family: BreeSerif-Regular;
    color: #B68F40;
    float: left;
    height: 10px; 
 }
.nameh12::after {
    content: "$ 18,50";
    margin-left: 390px;
}
.mnogotochie10 {
    justify-content: space-between;
    border-bottom: 1px dotted #6D7E85;
    height: 17px;
    margin-top: 1px;
    margin-right: 59px;
    margin-bottom: 1px;
    margin-left: 109px;
}
/*Цена и положение одинадцатого блюда */
.nameh13 {
    font-family: BreeSerif-Regular;
    color: #B68F40;
    float: left;
    height: 10px; 
 }
.nameh13::after {
    content: "$ 7,15";
    margin-left: 353px;
}
.mnogotochie11 {
    justify-content: space-between;
    border-bottom: 1px dotted #6D7E85;
    height: 17px;
    margin-top: 1px;
    margin-right: 59px;
    margin-bottom: 1px;
    margin-left: 154px;
}
/*Цена и положение двеннацатого блюда */
.nameh14 {
    font-family: BreeSerif-Regular;
    color: #B68F40;
    float: left;
    height: 10px; 
 }
.nameh14::after {
    content: "$ 6,80";
    margin-left: 407px;
}
.mnogotochie12 {
    justify-content: space-between;
    border-bottom: 1px dotted #6D7E85;
    height: 17px;
    margin-top: 1px;
    margin-right: 59px;
    margin-bottom: 1px;
    margin-left: 100px;
}
/*Цена и положение тринадцатого блюда */
.nameh15 {
    font-family: BreeSerif-Regular;
    color: #B68F40;
    float: left;
    height: 10px; 
 }
.nameh15::after {
    content: "$ 4,50";
    margin-left: 405px;
}
.mnogotochie13 {
    justify-content: space-between;
    border-bottom: 1px dotted #6D7E85;
    height: 17px;
    margin-top: 1px;
    margin-right: 59px;
    margin-bottom: 1px;
    margin-left: 100px;
}
/*Цена и положение четырнадцатого блюда */
.nameh16 {
    font-family: BreeSerif-Regular;
    color: #B68F40;
    float: left;
    height: 10px; 
 }
.nameh16::after {
    content: "$ 18,50";
    margin-left: 418px;
}
.mnogotochie14 {
    justify-content: space-between;
    border-bottom: 1px dotted #6D7E85;
    height: 17px;
    margin-top: 1px;
    margin-right: 59px;
    margin-bottom: 1px;
    margin-left: 85px;
}
/*Цена и положение пятнадцатого блюда */
.nameh17 {
    font-family: BreeSerif-Regular;
    color: #B68F40;
    float: left;
    height: 10px; 
 }
.nameh17::after {
    content: "$ 7,15";
    margin-left: 408px;
}
.mnogotochie15 {
    justify-content: space-between;
    border-bottom: 1px dotted #6D7E85;
    height: 17px;
    margin-top: 1px;
    margin-right: 59px;
    margin-bottom: 1px;
    margin-left: 103px;
}

.otspupidiv {
    margin-top: 35px;
    margin-left: 15px;
}