@font-face {
    font-family: OpenSans-Regular;
    src: url("./fonts/OpenSans-Regular.ttf");
}
@font-face {
    font-family: OpenSans-Bold;
    src: url("./fonts/OpenSans-Bold.ttf");
}

/* Тело сайта*/
body {
    margin: 0px;
    padding: 0px;
}
.body {
    width: 1402px;
    margin-left: auto;
    margin-right: auto;
}
/* Первая шапка*/
.hat1 {
    height: 45px;
    background-color: #4CB1CA;
}
.hatinfo1 {
    float: left;
    color: white;
    margin-left: 5px;
    font-family: OpenSans-Regular;
    font-size: 13px;
}
.hatinfo1-1 {
    padding-top: 14px;
    padding-left: 189px;
}
.usd {
    text-transform: uppercase;
}
.hatinfo1-2 {
    display: inline-block;
    width: 130px;
    margin-left: 10px;
}

.hatinfo2 {
    float: left;
    color: white;
    margin-left: 15px;
    font-family: OpenSans-Regular;
    font-size: 13px;
}
.hatinfo2-1 {
    display: inline-block;
    margin-left: 431px;
}
.rasdelitel1 {
border-right: 1px solid white;
padding-right: 15px;
}

/* Стрелочки*/
i {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    margin-top: 4px;
}
.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
/* Вторая шапка*/
.hat2 {
    height: 93px;
    background-color: aliceblue;
}
.name {
    text-transform: uppercase;
    font-family: OpenSans-Bold;
    font-size: 36px;
    color: #656565;
    margin-left: 190px;
    padding-top: 20px;
    float: left;
}
.menu0{
    margin-left: 405px;
    padding-top: 38px;
}
.menu {
    text-transform: uppercase;
    float: left;
    margin-left: 35px;
    font-family: OpenSans-Bold;
    font-size: 14px;  
}
.ssilki0 {
    text-decoration: none;
    color: #656565;
}
/* Поиск */
.poisk {
    width: 177px;
    height: 32px;
    border-color: #C6C6C6;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    background-color: white;
    margin-top: -7px;
    float: left;
    margin-left: 35px;
}

.span {
    color: #B7B7B7;
    font-family: OpenSans-Regular;
    font-size: 13px;
    display: inline-block;
    margin-top: 7px;
    margin-left: 6px;
    position: absolute;
}
.img {
    margin-left: 154px;
    padding-top: 9px;
}
/*--Иконки с корзиной*/
.ikonki {
    width: 40px;
    height: 40px;
    border-radius: 200%;
    background-color: #7DB122;
    float: left;
    margin-right: 8px;
}
.ikonkiposition {
    float: left;
    margin-left: 50px;
    margin-top: -8px;
}
.imgposition { 
    margin-left: 9px;
    margin-top: 10px;
}
.korzinakol {
    text-transform: uppercase;
    float: left;
    color: #656565;
    font-family: OpenSans-Bold;
    font-size: 14px;
    margin-left: 18px;
}
/*--Банер*/
.bn1 {
    width: 1402px;
    height: 532px;
    position: relative;
}
.positionstrelka{
    position: absolute;
}
.strelka1 {
    margin-left: 22px;
    margin-top: 18px;
    position: absolute;
}
.strelka2 {
    transform: scaleX(-1);
    margin-left: 28px;
    margin-top: 18px;
    position: absolute;
  
}
.strelkacircle1 {
    width: 70px;
    height: 70px;
    border-radius: 200%;
    background-color: white;
    float: left;
    margin-right: 1145px;
    margin-left: 55px;
    margin-top: 245px;
    position: relative;
}
.strelkacircle2 {
    position: relative;
    width: 70px;
    height: 70px;
    border-radius: 200%;
    background-color: white;
    float: left;
    margin-top: 245px;
}  

.baner-name1 {
    text-transform: uppercase;
    font-family: OpenSans-Regular;
    font-size: 30px;
    color: white;
}
.baner-name2 {
    text-transform: uppercase; 
    font-family: OpenSans-Bold;
    font-size: 30px;
    color: white;
}
.baner-name1-1 {
    position: relative;
    background-color: #6D675F;
    width: 285px;
    height: 47px;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.baner-name2-1 {
    position: relative;
    background-color: #6D675F;
    width: 329px;
    height: 47px;
    margin-top: 5px; 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.banerposition {  
    margin-left: 540px;
    padding-top: 92px;
    position: absolute;
}


/*--Тело с товаром*/

/*--Блок с товаром*/
.boxproducts {
    width: 880px;
    margin-left: 188px;
    overflow: auto;
    margin-bottom: 40px;
}
.positionkatalog {
    float: left;
}
/*--Название разделов*/
.razdel {
    font-family: OpenSans-Regular;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: bolder;
    color: #635F57;
    margin-top: 40px;
    margin-left: 188px;
}
.razdel2 {
    font-family: OpenSans-Regular;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: bolder;
    color: #635F57;
    margin-top: 40px;
    margin-left: 188px;
    overflow: auto;
}

/*--Контейнер с товаром*/
.glassesposition0 {
    margin-top: 20px;
 }
 .glassesposition {
    width: 264px;
    height: 400px;
    border: 1px solid #EEEEEE;    
    float: left;
    margin-right: 20px;
    margin-top: 20px;
    overflow-x: hidden;
    overflow-y: hidden;
}
.imgglass {
    margin-top: 5px;
    margin-left: 5px;
    padding-top: 5px;
    margin-right: 5px;
    padding-left: 5px;   
}
.nomenklatura {
    margin-left: 12px;
    margin-top: 5px;
    font-family: OpenSans-Regular;
    font-size: 17px;
    float: left;
    margin-right: 5px;
    position: absolute;
} 
.imgsize {
    width: 240px;
    height: 320px;
}   
.imgposition2 {
    margin-left: 7px;
    margin-top: 6px;
}
.ikonki2 {
    width: 40px;
    height: 40px;
    border-radius: 200%;
    background-color: #7DB122;
    float: left;
    margin-left: 200px;
}
.nomenklatura::after {
    content: "$ 388,00";
    font-family: OpenSans-Regular;
    font-size: 15px;
    color: #7DB122; 
}
.wrap-ribbon {
    box-sizing: border-box;
    font-family: sans-serif;
    color: white;
    font-weight:lighter;
    text-transform: uppercase; 
    position: relative;
    margin: 5px 128px;
}
.box {
    left: 0px;
    position: absolute;
    top: -11px;
}
.ribbon {
    height: 47px;
    width: 200px;
    background-color: #4CB1CA;
    text-align: center;
    left: 31px;
    margin-top: 21px;
    transform: rotate(45deg); 
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrap-ribbon2 {
    box-sizing: border-box;
    font-family: sans-serif;
    color: white;
    font-weight:lighter;
    text-transform: uppercase; 
    position: relative;
    margin: 5px -64px;
}
.ribbon2 {
    height: 47px;
    width: 200px;
    background-color: #7DB122;
    text-align: center;
    
    margin-top: 21px;
    transform: rotate(-45deg); 
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Боковая реклама*/
.blockreklama {
    margin-top: 112px;
    position: relative;
    width: 240px;
    height: 496px;
    border-top: 5px solid #4CB1CA;
    border-left: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;  
}
.imgreklama {
    margin-left: 3px;
}
.namereklama {
    font-family: OpenSans-Regular;
    font-size: 24px;
    text-transform: uppercase;
    color: #635F57;
    text-align: center;
    margin-top: 5px;
    margin-left: 55px;
    position: absolute;
}
.class-button {
    position: absolute;
    background-color: #4CB1CA; 
    font-family: OpenSans-Regular; 
    font-size: 14px;
    color: white;
    border: none;
    height: 47px;
    width: 135px;
    margin-left: 48px;
    margin-top: 363px;
}
.tochkiramka {
    border-top: 1px solid #EEEEEE;
}
.circle-1 {
    height: 15px;
    width: 15px;
    background-color: #4CB1CA;
    border-radius: 50%;
    float: left;
    margin-right: 7px;
}
.circle-2 {
    height: 15px;
    width: 15px;
    background-color: #7DB122;
    border-radius: 50%;
    float: left;
    margin-right: 7px;
}
.circle-3 {
    height: 15px;
    width: 15px;
    background-color: #7DB122;
    border-radius: 50%;
    float: left;
    margin-right: 4px;
}
.circleposition {
    margin-left: 85px;
    margin-top: 15px;
}
.blockreklama2 {
    margin-top: 44px;
    position: relative;
    width: 240px;
    height: 284px;
    border-top: 5px solid #4CB1CA;
    border-left: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
    overflow: auto;
}
.class-button2 {
    position: absolute;
    background-color: #7EB123; 
    font-family: OpenSans-Regular; 
    font-size: 14px;
    color: white;
    border: none;
    height: 47px;
    width: 135px;
    margin-left: 52px;
    margin-top: 200px;
}
.namereklama2 {
    font-family: OpenSans-Regular;
    font-size: 24px;
    text-transform: uppercase;
    color: #635F57;
    text-align: center;
    margin-top: 5px;
    margin-left: 37px;
    position: absolute;
}
.namereklama2-1 {
    font-family: OpenSans-Regular;
    font-size: 14px;
    color: #635F57;
    text-align: center;
    margin-top: 75px;
    position: absolute;
}
input {
    position: absolute;
    border: 1px solid #E2E2E2;
    height: 32px;
    width: 188px;
    margin-top: 150px;
    margin-left: 22px;
}
.line {
    position: absolute;
    width: 98px;
    margin-left: 68px;
    border-bottom: 1px solid #EEEEEE;
    margin-top: 130px;
}
.positionreklama {
    float: left;
}


/* Подвал1 */
.futer1 {
    width: 1402px;
    height: 106px;
    background-color: #4CB1CA;
    position: relative;
    overflow: auto;
}
.positionfuter1 {
    float: left;
    margin-left: 136px;
    margin-top: 20px;
}
.Logocar {
    height: 68px;
    width: 68px;
    background-color: white;
    border-radius: 50%;
    margin-right: 4px;
    float: left;
}
.imgpositioncar {
    margin-top: 20px;
    margin-left: 16px;
}
.imgpositionphone {
    margin-top: 20px;
    margin-left: 20px;
}
.textfuterlogo1 {
    font-family: OpenSans-Regular;
    text-transform: uppercase;
    color: white;
    font-size: 21px;
    float: left;
    margin-left: 32px;
    margin-top: 20px;
}
/* Подвал2 */
.opstupfuter2 {
    margin-left: 133px;
}
.futer2 {
    width: 1402px;
    height: 335px;
    background-color: #39A0B9;
    position: relative;
}
.facebook {
    text-transform: uppercase;
    font-family: OpenSans-Regular;
    font-size: 20px;
    color: white;
    padding-top: 30px;
}
.members {
    font-family: OpenSans-Regular;
    font-size: 13px;
    color: white;
    padding-top: 17px;
    padding-bottom: 8px;
}
.fotobox {
    width: 236px;
    margin-top: 12px;
}
.fotoposition {
    float: left;
    margin-right: 4px;
}
.fotocory {
    transform: scale(-1, 1);
}
.facebookplugin {
    font-family: OpenSans-Regular;
    font-size: 13px;
    color: white;
    margin-top: 5px;
}
.boxline {
    margin-top: 7px;
    width: 199px;
    height: 126px;
    border-top: 1px solid #4CB1CA;
    border-bottom: 1px solid #4CB1CA;  
}
.widthblock {
    float: left;
    margin-left: 45px;
    margin-left: 64px;
}
/* Твиттер */
.circletwitter {
    height: 40px;
    width: 40px;
    background-color: white;
    border-radius: 50%;
    margin-top: 12px;
    float: left;
}
.twitterposition {
    margin-left: 10px;
    margin-top: 12px;
    
}
.twittertext {
    font-family: OpenSans-Regular;
    font-size: 13px;
    color: white;
    float: left;
    width: 200px;
    margin-left: 10px;
    margin-top: 12px;
}
.span0 {
    color: #85D2E5;
}
.span0:after {
    content: "\00a0"
}
.span0:before {
    content: "\00a0"
}
.otsputtwitter {
    margin-top: 15px;
}
/* Инфо */
.textinfo {
    font-family: OpenSans-Regular;
    font-size: 13px;
    color: white;
    margin-left: 20px;
    
}
.strelkaright {
    border: solid white;
    border-width: 3px 3px 0px 0;
    padding: 3px;
    margin-top: 4px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    float: left;
}
.opstupinfo {
    margin-top: 27px;
}
.opstupinfotext {
    margin-top: 15px;
}
.ssilki {
    text-decoration: none;
    color: white;
}
.otsputcontacti1 {
    margin-top: 27px;
}
.textinfo2 {
    font-family: OpenSans-Regular;
    font-size: 13px;
    color: white;  
}
.otsputcontacti2 {
    margin-top: 15px;
}
.linecontact {
    width: 199px;
    border-bottom: 1px solid #4CB1CA;  
}
.logomessendger {
    height: 40px;
    width: 40px;
    background-color: white;
    border-radius: 50%;
    margin-right: 13px;
    margin-top: 12px;
    float: left;
}
.ikonkimessendger1 {
    margin-top: 12px;
    margin-left: 12px;
}
.ikonkimessendger2 {
    margin-top: 12px;
    margin-left: 14px;
}
/* Подвал3 */
.futer3 {
    width: 1402px;
    height: 67px;
    background-color: #0B4B5A;
    position: relative;
}
.textfuter3-1 {
    float: left;
    font-family: OpenSans-Regular;
    font-size: 13px;
    color: #71BCCF;  
    margin-top: 27px;
    margin-left: 195px;
}
.textfuter3-2 {
    float: left;
    font-family: OpenSans-Regular;
    font-size: 13px;
    color: #71BCCF;  
    margin-top: 27px;
    margin-left: 280px;
}

.menufuter3 {
    float: left;
    margin-right: 20px;
}
.rasdelitel2 {
    border-right: 1px solid #71BCCF;
    padding-right: 15px;
    }
    .ssilki2 {
        text-decoration: none;
        color: #71BCCF;
    }

a:hover {
    border-bottom: 1px solid #0B4B5A; 
      }